<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <button id="worker-button">Start worker!</button>
    <h3 style="margin: 20px;">Results</h3>
    <div id="worker-results" style="margin: 20px; padding: 10px; border: 1px solid rgba(0,0,0,0.2); min-height: 50px;"></div>
  </body>
</html>